<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Signup Page</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!-- <link rel="stylesheet" href="css/style.css" /> -->
    <link rel="stylesheet" href="/css/style-signin.css" />

    <!-- <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    /> -->
  </head>
  <body
    class="img js-fullheight"
    style="
      background-image: url(/images/bg.jpg);
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      position: inherit;
      padding: 0;
      margin-top: 0;
    "
  >
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
            <h2 class="heading-section">Sign up</h2>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-lg-4">
            <div class="login-wrap p-0">
              <h3 class="mb-4 text-center">Create an account!</h3>
              <form action="/auth/signup" method="POST" class="signin-form">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    required
                    value="<%= user.email %>"
                    name="email"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Username"
                    required
                    value="<%= user.name %>"
                    name="name"
                  />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="User Information"
                    required
                    value="<%= user.userInfo %>"
                    name="userInfo"
                  />
                </div>
                <div class="form-group">
                  <input
                    id="password-field"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    required
                    value="<%= user.password %>"
                    name="password"
                  />
                  <span
                    toggle="#password-field"
                    class="fa fa-fw fa-eye field-icon toggle-password"
                  ></span>
                </div>
                <div class="form-group">
                  <button
                    type="submit"
                    class="form-control btn btn-primary submit px-3"
                  >
                    Sign Up
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/main-signin.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script>
      //Get data from the form and send it to the server
      // $(".signin-form").submit(function (e) {
      //   e.preventDefault();
      //   var form = $(this);
      //   var url = form.attr("action");

      //   $.ajax({
      //     type: "POST",
      //     url: url,
      //     data: form.serialize(), // serializes the form's elements.
      //     success: function (data) {
      //       //show response from the php script.
      //       alert(data);
      //     },
      //     error: function (data) {
      //       alert("Error");
      //     },
      //   });
      // });
    </script>
  </body>
</html>
