<nav
  class="navbar navbar-dark container-fluid sticky-top"
  style="background-color: #0a4275"
>
  <H5 class="navbar-brand"
    ><a href="/" style="color: inherit; text-decoration: none">Home</a></H5
  >
  <a
    href="/auth/signout"
    class="btn btn-warning float-right justify-content-right navbar-brand text-black"
    style="float: right; color: black"
    >Log out</a
  >
</nav>
